<%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "form-horizontal" }) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :confirmation_token %>
  <div class="form-inputs">
    <fieldset class="account-info">
      <legend>Resend confirmation instructions</legend>
      <%= f.input :email, required: false, autofocus: true %>
    </fieldset>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Send", class: "btn btn-primary", type: "button" %>
  </div>
<% end %>
<%= render "devise/shared/links" %>
