<header id="account-header">
	<div id="account-info">
		<h3><%= current_user.name %></h3>
		<div class="row">
			<div class="span10">
				<p><%= current_user.email if current_user.email %></p>
			</div>
			<div class="span2">
				<p class='pull-right'><%= link_to raw("<i class='icon-ok-sign icon-large'></i> Edit"), edit_account_path %></p>
			</div>
		</div>
	</div>
	<div id="account-nav">
		<div class="navbar navbar-static-top">
			<nav class="navbar-inner">
				<div class="container">
					<ul class="nav pull-left">
					  <li><%= link_to 'in progress'.capitalize, account_path %></li>
					  <li><%= link_to 'history'.capitalize, account_history_path %></li>
					</ul>
					<ul class="nav pull-right">
					  <li><%= link_to 'me'.capitalize, account_report_path %></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</header>