<div id="account-sidebar" class="span2 bs-docs-sidebar">
  <ul id="account-sidenav" class="nav nav-list bs-docs-sidenav affix">
    <li class="nav-header">Account</li>
    <li><%= link_to raw('<i class="icon-home"></i> Home'), account_path %></li>
    <li><%= link_to raw('<i class="icon-user"></i> Profile'), edit_account_path %></li>
    <li class="divider"></li> 
    <li class="nav-header">Project</li>
    <li><%= link_to raw('<i class="icon-list"></i> All'), projects_path %></li>
    <li><%= link_to raw('<i class="icon-plus"></i> New'), new_project_path %></li>
    <li class="divider"></li> 
    <li class="nav-header">Quick</li>
    <li><%= link_to raw('<i class="icon-circle-arrow-right"></i> Submission'), '#' %></li>
    <% if !@navigation_tags.nil? %>
      <li class="divider"></li> 
      <li class="nav-header">Navigation Tag</li> 
      <li><a href="#"><i class="icon-circle-arrow-right"></i> Brief</a></li>
      <li><a href="#activities"><i class="icon-circle-arrow-right"></i> Activities</a></li>
      <li><a href="#charts"><i class="icon-circle-arrow-right"></i> Charts</a></li>  
      <li><a href="#tool-box"><i class="icon-circle-arrow-right"></i> Tool Box</a></li>
    <% end %>
  </ul>
</div>