<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
  <%= f.input :name, autofocus: true, required: true %>
  <%= f.input :description, input_html: {rows: "6"}, required: false %>
  <%= f.input :manager, required: false %>
  <%= f.input :due, hint: "MM-DD-YYYY", required: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
