<%= simple_form_for @project, html: {class: "form-horizontal"} do |f| %>
  <%= f.error_notification %>
  <div class="form-inputs">
    <fieldset class="project-info">
      <legend>Project</legend>
      <%= f.input :name, autofocus: true, required: false %>
      <%= f.input :description, required: false %>
      <%= f.input :due_at, as: :date, required: false %>
    </fieldset>
    <% @tasks.each_index do |i| %>
    <fieldset class="task-info">
      <legend>Task</legend>
      <%= f.simple_fields_for 'task[]', @tasks[i], index: i do |task_f| %>
      <%= task_f.input :name, required: false %>
      <%= task_f.input :due_at, as: :date, required: false %>
      <% end %>
    </fieldset>
    <% end %>
    <a class="new-task" href="#">Add more</a>
  </div>
  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary" %>
  </div>
<% end %>
