<%= render "shared/account_header" %>

<% @projects.each_index do |i| %>
<h3><%= @projects[i].name %></h3>
<div id=<%= "chartset_"+i.to_s+"_tasks_hours" %> style="width: 900px; height: 500px;"></div>
<% end %>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', project_path %>
