<div class="row">
  <%= render "shared/account_nav" %>
  <div class="span10">
    <fieldset>
      <legend><%= @project.name.upcase %></legend>
      <p><%= @project.description %></p>
      <p><b>Tasks</b></p>
      <% @tasks.each do |task| %>
      <p><%= task.name %></p>
      <% end %>
      <p><b>Team Members</b></p>
      <p><%= @leader.name %> <i class="icon-user"></i></p>
      <% @members.each do |member| %>
      <p><%= member.name %></p>
      <% end %>
      <%= form_tag project_team_path(@project) do %>
      <%= label_tag "emails", 'Emails' %>
      <%= text_field_tag "emails" %>
      <%= button_tag "Send emails" %>
      <% end %>
    </fieldset>
    <fieldset>
      <legend>Recent logs</legend>
      <%= render "record" %>
    </fieldset>
    <fieldset>
      <legend>Charts</legend>
      <div class="div-chart" id="chartset-project-hours"></div>
      <div class="div-chart" id="chartset-tasks-span"></div>
      <div class="div-chart" id="chartset-tasks-hours"></div>
    </fieldset>
  </div>
</div>
